.search{
    text-align: center;
    justify-content: center;
}

.box{
    margin: 10px;
    text-align: center;
    border: 1px solid black;
    width: 50%;
    box-shadow: 1px 1px 5px 0.1px silver;
}